<!DOCTYPE html>
<html><head>
<title>Aluguel de Carros</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/kickstart.css') }}" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}" media="all" />                          <!-- CUSTOM STYLES -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src= "{{ url_for('static',filename='js/kickstart.js') }}"></script>                                  <!-- KICKSTART -->
</head>
<body>
		
<div id="anuncio" class="tab-content">
			<div class="grid">

				<div class="col_4">
                        
                    	<div id="Dados_Listados" class="tab-content">
			
				

				    
					{% if erro != '': %}
						<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ erro }} 
						<a href="#close" class="icon-remove"></a></div>
					{% endif %} 

					<p><strong>Dados Listados</strong></p>

					
					<table class="sortable striped">
						<thead><tr>
							<th>Modelo</th>
							<th>Ano</th>
							<th>Cor</th>
                                       <th>Preço Sugerido</th>
						</tr></thead>
						<tbody>
						  
							{% for e in dic: %}
							<tr>
								<td>{{ dic[e].Modelo }}</td>
								<td>{{ dic[e].Ano }}</td>
                                            <td>{{ dic[e].Cor }}</td>
                                            <td>{{ dic[e].Preco_Sugerido }}</td>
							

								
								<td><a href="./del?placa={{ e }}"><i class="fa fa-trash"></i></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
		
                    </div>
				<div class="col_8">
				  
					<form class="vertical" method="POST">
					<fieldset>
						<legend>Homepage</legend>
					
						<div class="grid">

							
							<div class="col_12 right">
                                       <a href="/alugar/barganha" />
							<button class="medium"><i class="fa fa-car"></i>Barganhar</button>
                                       </a>
                                       <a href="/Homepage" />
                                       <button class="medium"><i class="fa fa-car"></i>Alugar</button>
                                       </a>
							</div>
						</div>
					</fieldset>
					</form>
				</div>
			</div>
		</div>

	</div>


<div class="clear"></div>
<div id="footer">
&copy; Copyright 2016 All Rights Reserved. This website was built with <a href="http://www.99lime.com">HTML KickStart</a>
</div>


</body>
</html>