<!DOCTYPE html>
<html><head>
<title>Aluguel de Carros</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href="./css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="./style.css" media="all" />                          <!-- CUSTOM STYLES -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="./js/kickstart.js"></script>                                  <!-- KICKSTART -->
</head>
<body>

<div id="header"></div>

<div class="grid">

	<div class="col_4">
		<h3><i class="fa fa-car"></i> <i class="fa fa-truck"></i> Aluguel de Carros </h3>
	</div>

<div class="col_1"></div>
	<div class="col_10">
		<ul class="tabs left">
		<li><a href="#Tela_Inicial">Tela Inicial</a></li>
		<li><a href="#Sign_In">Sign In</a></li>
           <li><a href="#Homepage">Homepage</a></li>
           <li><a href="#Alugar_I">Alugar I</a></li>
           <li><a href="#Esolha_do_Modelo">Escolha Do Modelo</a></li>
           <li><a href="#Dados_Listados">Dados Listados</a></li>
           <li><a href="#Pessoas_que_Anunciaram_esse_carro">Pessoas que Anunciaram esse Carro</a></li>
		</ul>    
	
<!-- Tab 2 - Tela Inicial -->
		<div id="Tela_Inicial" class="tab-content">
			<div class="grid">

				<div class="col_2"></div>
				<div class="col_8">

					<form class="vertical" method="POST" action="./#Homepage">
					<fieldset>
						<legend>Tela Inicial</legend>
					
						<div class="grid">

							<div class="col_6">
							<label for="placa">Login</label>
							<input id="placa" name="placa" type="text" />
							</div>

							<div class="col_6">
							<label for="fabricante">Senha</label>
							<input id="fabricante" name="fabricante" type="text" />
							</div>

							<div class="col_12 right">
                                       <a href="/Homepage.html" />
							<button class="medium"><i class="fa fa-car"></i>Entrar</button>
                                       </a>
							</div>
						</div>
					</fieldset>
					</form>
				</div>
				<div class="col_2"></div>
			</div>
		</div>

	</div>

<!--- Homepage --->
		<div id="Homepage" class="tab-content">
			<div class="grid">

				<div class="col_2"></div>
				<div class="col_8">
				  
					<form class="vertical" method="POST" action="./#Alugar_I">
					<fieldset>
						<legend>Homepage</legend>
					
						<div class="grid">

							
							<div class="col_12 right">
							<button class="medium"><i class="fa fa-car"></i>Alugar Carros</button>
                                       <button class="medium"><i class="fa fa-car"></i>Anunciar Carros</button>
							</div>
						</div>
					</fieldset>
					</form>
				</div>
				<div class="col_2"></div>
			</div>
		</div>

	</div>

    	    <!-- Tab 1 - Dados Listados -->
		<div id="Dados_Listados" class="tab-content">
			<div class="grid">
				<div class="col_12">

				    
					{% if erro != '': %}
						<div class="notice error"><i class="icon-remove-sign icon-large"></i> {{ erro }} 
						<a href="#close" class="icon-remove"></a></div>
					{% endif %} 

					<p><strong>Dados Listados</strong></p>

					
					<table class="sortable striped">
						<thead><tr>
							<th>Usuário</th>
							<th>Carros Anunciados</th>
							<th></th>
						</tr></thead>
						<tbody>
						  
							{% for e in dic: %}
							<tr>
								<td>{{ dic[e].Usuário }}</td>
								<td>{{ dic[e].Carros Anunciados }}</td>
							

								
								<td><a href="./del?placa={{ e }}"><i class="fa fa-trash"></i></a></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		

	<div class="col_1"></div>
	<div class="col_10">
		<ul class="tabs left">
		<li><a href="#tabr1">L</a></li>
		<li><a href="#tabr2">Register</a></li>
		</ul>
<!--- Alugar I --->
    		
		<div id="Alugar_I" class="tab-content">
			<div class="grid">

				<div class="col_2"></div>
				<div class="col_8">
				    
					<form class="vertical" method="POST" action="./#Escolha Do Modelo">
					<fieldset>
						<legend>Escolha o Período de Locação</legend>

                                 <div>

                                   <input type="checkbox" id="check1" />
                                   <label for="check1" class="inline">Aluguel Diário</label>     
            				  <input type="checkbox" id="check2" />
                                   <label for="check2" class="incline">Aluguel Semanal</label>
                                   <input type="checkbox" id="check1" />
                                   <label for="check1" class="inline">Aluguel Mensal</label>
                                 
                                 </div>
  
                                    <div class="col_12 right">
							<button class="medium"><i class="fa fa-car"></i> Cadastrar</button>
							</div>

					</fieldset>
					</form>
				</div>
				<div class="col_2"></div>
			</div>
		</div>

	</div>
	<div class="col_1"></div>
</div>

<!--- Escolha do Modelo --->
    
		<div id="Escolha_do_Modelo" class="tab-content">
			<div class="grid">

				<div class="col_2"></div>
				<div class="col_8">
				  
					<form class="vertical" method="POST" action="./#Lista_de_Pessoas">
					<fieldset>
						<legend>Escolha Do Modelo</legend>
					
						<div class="grid">

					    <label for="select1">Select Field</label>
                                <select id="select1">
                                <option value="0">Escolha o Modelo</option>
                                <option value="1">Importar Dc</option>
                                <option value="2">Importar Dc</option>
                                <option value="3">Importar Dc</option>
                                </select>

							<div class="col_12 right">
							<button class="medium"><i class="fa fa-car"></i>Procurar</button>
							</div>
						</div>
					</fieldset>
					</form>
				</div>
				<div class="col_2"></div>
			</div>
		</div>

	</div>
	<div class="col_1"></div>
</div>

<!--- Anúncios--->
	

		<!-- Tab 2 - Sign In -->
		<div id="Sign_In" class="tab-content">
			<div class="grid">

				<div class="col_2"></div>
				<div class="col_8">
				   
					<form class="vertical" method="POST" action="./#Tela_Inicial">
					<fieldset>
						<legend>Novo Veículo</legend>
					
						<div class="grid">

							

							<div class="col_6">
							<label for="placa">Nome Completo</label>
							<input id="placa" name="placa" type="text" />
							</div>

							<div class="col_6">
							<label for="fabricante">Email</label>
							<input id="fabricante" name="fabricante" type="text" />
							</div>

							<div class="col_6">
							<label for="modelo">Endereço</label>
							<input id="modelo" name="modelo" type="text" />
							</div>

							<div class="col_6">
							<label for="cor">CPF</label>
							<input id="cor" name="cor" type="text" />
							</div>

                                    
							<div class="col_6">
							<label for="cor">Usuário</label>
							<input id="cor" name="cor" type="text" />
							</div>

                                      
							<div class="col_6">
							<label for="cor">Senha</label>
							<input id="cor" name="cor" type="text" />
							</div>

							
							<div class="col_12 right">
                                       <a href="/#Homepage.html" />
							<button class="medium"><i class="fa fa-car"></i> Cadastrar</button>
                                       </a>
							</div>
						</div>
					</fieldset>
					</form>
				</div>
				<div class="col_2"></div>
			</div>
		</div>

	</div>
	<div class="col_1"></div>
</div>




<div class="clear"></div>
<div id="footer">
&copy; Copyright 2016 All Rights Reserved. This website was built with <a href="http://www.99lime.com">HTML KickStart</a>
</div>


</body></html>