<!DOCTYPE html>
<html><head>
<title>Aluguel de Carros</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/kickstart.css') }}" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}" media="all" />                          <!-- CUSTOM STYLES -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src= "{{ url_for('static',filename='js/kickstart.js') }}"></script>                                  <!-- KICKSTART -->
</head>
<body>
		{{usuario}}
		<div id="anunciar" class="tab-content">
			<div class="grid">


                            {% if erro != '': %}
						<div class="notice error"><i class="icon-remove-sign icon-large"></i> 
                            {{ erro }} 
						<a href="#close" class="icon-remove"></a></div>
					{% endif %} 



				<div class="col_2"></div>
				<div class="col_8">
				    
					<form class="vertical" method="POST" action="/anunciar/submit?usuario={{usuario}}&fabricante={{fabricante}}&modelo={{modelo}}&ano={{ano}}&cor={{cor}}&blindagem={{blindagem}}&periodo={{periodo}}&preco={{preco}}">
					<fieldset>
						<legend>Novo Veículo</legend>
					
						<div class="grid">

							

						<label for="fabricante">Fabricante</label>
                                 <select id="fabricante">
                                 <option value="0">Escolha o Fabricante</option>
                                 <option value="audi">Audi</option>
                                 <option value="ferrari">Ferrari</option>
                                 <option value="porsche">Porsche</option>
                                 </select>
                                
                                
						<label for="modelo">Modelo</label>
                                 <select id="modelo">
                                 <option value="0">Escolha o Modelo</option>
                                 <option value="A3">A3</option>
                                 <option value="Q5">Q5</option>
                                 <option value="TT">TT</option>
                                 </select>
                                
                                 <label for="ano">Ano</label>
                                 <select id="ano">
                                 <option value="0">Escolha o Ano</option>
                                 <option value="2016">2016</option>
                                 <option value="2015">2015</option>
                                 <option value="2014">2014</option>
                                 </select>
                                
                                 <label for="cor">Cor</label>
                                 <select id="cor">
                                 <option value="0">Escolha a Cor</option>
                                 <option value="preto">Preto</option>
                                 <option value="amarelo">Amarelo</option>
                                 <option value="branco">Branco</option>
                                 </select>

                                <legend>Possui Blindagem?</legend>    
                                <input type="radio" name="blindagem" value="SIM"> Sim<br>
                                <input type="radio" name="blindagem" value="NAO"> Não<br>
            

                                <input type="radio" name="periodo" value="dia"> Aluguel Diário<br>
                                <input type="radio" name="periodo" value="semana">Aluguel Semanal<br>
                                <input type="radio" name="periodo" value="mes">Aluguel Mensal<br>  

                                <input id="preco" name="preco" type="text" />
                                <label for="preco">Escolha o Preço do Aluguel</label>

							

						</div>
					</div>
                                            <button class="medium"><i class="fa fa-car"></i>Submit</button>
					</fieldset>
					</form>
                            
                                

				</div>
				<div class="col_2"></div>
			</div>
		</div>

	</div>
	<div class="col_1"></div>
</div>


<div class="clear"></div>
<div id="footer">
&copy; Copyright 2016 All Rights Reserved. This website was built with <a href="http://www.99lime.com">HTML KickStart</a>
</div>


</body>
</html>