<!DOCTYPE html>
<html><head>
<title>Aluguel de Carros</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="description" content="" />
<meta name="copyright" content="" />
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/kickstart.css') }}" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}" media="all" />                          <!-- CUSTOM STYLES -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src= "{{ url_for('static',filename='js/kickstart.js') }}"></script>                                  <!-- KICKSTART -->
</head>
<body>	

<div id="tabela" class="tab-content">
			<div class="grid">
				<div class="col_12">

					{% if erro != '': %}
						<div class="notice error"><i class="icon-remove-sign icon-large"></i> 
                            {{ erro }} 
						<a href="#close" class="icon-remove"></a></div>
					{% endif %} 

					<p><strong>Lista Atual de Veículos</strong></p>

					
					<table class="sortable striped">
						<thead><tr>
							<th>Modelo</th>
							<th>Ano</th>
							<th>Cor</th>
                                       <th>Usuário</th>
						</tr></thead>
						<tbody>
						   
							{% for u in anunciados: %}
                                            {%for i in anunciados[u]%}
                                                {%for veiculo in anunciados[u][i]%}
							<tr>
                              
								<td> <a href="/anunciar/anuncio?usuario={{usuario}}&anunciador={{u}}" />
					   <button class="medium"><i class="fa fa-car"></i> {{anunciados[u][i][veiculo]}}</button>
                               </a></td>
								<td>{{ anunciados[u][i][veiculo][2] }}</td>
								<td>{{ anunciados[u][i][veiculo][3] }}</td>
								<td>{{ u }}</td>

								<td><a href="./del?placa={{ e }}"><i class="fa fa-trash"></i></a></td>
							</tr>
							{% endfor %}
                                         {% endfor %}
                                            {% endfor %}

						</tbody>
					</table>

                            <a href="/Homepage?usuario={{usuario}}" />
                               <button class="medium"><i class="fa fa-car"></i>Início</button>
                               </a>
				</div>
			</div>
		</div>

</body>
</html>